
 @font-face{
    font-family: "ubuntu";
    src: url("/css/webfonts/Ubuntu-Medium.ttf")
  }

  .ubuntu{
      font-family: "ubuntu";
  }


  .bg-pistache{
    background-color: rgba(178, 208, 107, 1);
  }

  .pistache{
    color: rgba(178, 208, 107, 1);
  }

  .bg-vert{
    background-color: #0B3434;
  }

  .vert{
    color: #0B3434;
  }

  .btn-pistache{
    background-color: #B2D06B;
  }
  
  .btn-pistache:hover{
    background-color: #eeffc7;
  }


  .vert-sombre{
    color: rgba(11, 52, 52, 0.6);

  }


  .border-pistache{
    border-left: 10px solid ;
    border-color: rgba(178, 208, 107, 1) ;
    
  }

  .margin-left-transparent{
    border-left: 10px solid;
    border-color: rgba(255, 255, 255, 0);
  }